[submodule "bundle/sensible"]
	path = pack/plugins/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
