[submodule "bundle/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pack/plugins/start/unimpaired"]
	path = pack/plugins/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/plugins/start/obsession"]
	path = pack/plugins/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/start/rsi"]
	path = pack/plugins/start/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "pack/plugins/start/eunuch"]
	path = pack/plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/plugins/start/dirvish"]
	path = pack/plugins/start/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/starrange"]
	path = pack/plugins/start/starrange
	url = https://github.com/vim-scripts/StarRange.git
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
