[submodule "bundle/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/plugins/start/unimpaired"]
	path = pack/plugins/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/plugins/start/obsession"]
	path = pack/plugins/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/start/rsi"]
	path = pack/plugins/start/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "pack/plugins/start/eunuch"]
	path = pack/plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/plugins/start/dirvish"]
	path = pack/plugins/start/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/plugins/start/starrange"]
	path = pack/plugins/start/starrange
	url = https://github.com/vim-scripts/StarRange.git
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/ftplugins/svelte"]
	path = pack/ftplugins/start/svelte
	url = https://github.com/leafOfTree/vim-svelte-plugin.git
[submodule "pack/ftplugins/markdown"]
	path = pack/ftplugins/start/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "pack/ftplugins/plantuml"]
	path = pack/ftplugins/start/plantuml
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/plugins/start/editorconfig"]
	path = pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/jumpy"]
	path = pack/plugins/start/jumpy
	url = https://github.com/arp242/jumpy.vim.git
[submodule "pack/plugins/start/lastpos"]
	path = pack/plugins/start/lastpos
	url = https://github.com/vim-scripts/lastpos.vim.git
[submodule "pack/plugins/start/Lite-Tab-Page"]
	path = pack/plugins/start/Lite-Tab-Page
	url = https://github.com/jceb/Lite-Tab-Page.git
[submodule "pack/plugins/start/matchup"]
	path = pack/plugins/start/matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "pack/plugins/start/tcomment"]
	path = pack/plugins/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "pack/colorschemes/start/nord"]
	path = pack/colorschemes/start/nord
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/plugins/start/neoterm"]
	path = pack/plugins/start/neoterm
	url = https://github.com/kassio/neoterm.git
[submodule "pack/plugins/start/subversive"]
	path = pack/plugins/start/subversive
	url = https://github.com/svermeulen/vim-subversive.git
